<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='layout.css')}}">
        <title>WebAPI Art App</title>
    </head>
    <body>
        <h1>WebAPI ART APP</h1>
        <h3>🦊Welcome to small art museum🐿</h3>
        <div class="btn-gp">
            <form action="" method="POST">
                <input type="button" value="All" name="all">
                <input type="button" value="Japan" name="japan">
                <input type="button" value="France" name="france">
                <input type="button" value="America" name="america">
                <input type="button" value="Italy" name="italy">
                <input type="button" value="Spain" name="spain">                
            </form>
        </div>
    </body>
</html>