<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='layout.css')}}">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <title>WebAPI Art App</title>
    </head>
    <body>
        <h1>WebAPI ART APP</h1>
        <h3>🦊Welcome to small art museum🐿</h3>
        <div class="btn-gp">
            <input type="button" value="All" onclick="test_ajax('all')">
            <input type="button" value="japan" onclick="test_ajax('japan')">
            <input type="button" value="France" onclick="test_ajax('france')">
            <input type="button" value="America" onclick="test_ajax('america')">
            <input type="button" value="Italy" onclick="test_ajax('italy')">
            <input type="button" value="Spain" onclick="test_ajax('spain')">
        </div>
        <p>結果</p>
        <div id="result"></div>
        <div class="output">
            {% for i in range(5) %}
                <div class="output_card">
                    <h3 id="p_name">{{ name[i] }}({{ kana[i] }})</h3>
                    <p id="p_exp">{{ explain[i] }}</p>
                    <i id={{name[i]}}{{p_kana}} onclick="popup()">作者を見る</i>
                </div>
            {% endfor %}
            <!-- <div class="output_author", id="result_author">
                <h3>作者名</h3>
                <p>カナ</p>
                <p>誕生日</p>
                <p>説明文</p>
            </div> -->
        </div>
    </body>
    <script type="text/javascript">
        function test_ajax(country){
            // var value = document.getElementById(country).value;
            $.ajax({
                type:"GET",
                url:"/test_ajax/",
                data:{
                    value:country,
                },
            })
            .done(function(data, text, jq){
                for (i=1; i<(data["product"][0].length)+1; i++){
                    // var div = document.createElement('div');
                    // div.id = "result_author";
                    // document.body.appendChild(div);
                    // var div = document.createElement('div');
                    // var name = "result_author_"+ i;
                    // div.id = name;
                    // document.body.appendChild(div);

                    for (j=0; j<data["product"].length; j++){
                        if (j == 0){
                            var h3 = document.createElement('h3');
                            write = data["product"][j][i];
                            $('#p_name').html("<h3>"+write+"</h3>");
                        }else if(j == 1){
                            var p = document.createElement('p');
                            p.textContent = data["product"][j][i];
                            $('#result_author_'+i).append(p);
                        }else if (j == 2){
                            var p2 = document.createElement('p');
                            p2.textContent = data["product"][j][i];
                            $('#result_author_'+i).append(p2);
                        }
                    }
                    // return jsonify({"product":[p_name, p_kana, p_exp], "author":[a_name, a_kana, a_birth, a_exp]})
                }
            });
        }
        function popup(){

        }


    </script>
</html>